h2 {
    font-family: Arial, Helvetica, sans-serif
}

hr {
    border: 1px solid #000;
    margin: 0;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: orange
}

.categories {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    float: left;
    width: 200px;
    margin-right: 20px;
}

.product-list {
    margin-top: 20px;
}

#table-title {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

table {
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #000000;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.categories a {
    color: #007bff;
}

.buttons {
    margin-top: 20px;
}

label {
    width: 10em;
    float: left;
    padding-right: 1em;
    padding-bottom: .5em;
}
#data input {
    float: left;
    width: 15em;
    margin-bottom: .5em;
}
#data span {
    padding-left: .25em;
}
#buttons input {
    float: left;
    margin-bottom: .5em;
}
br {
    clear: left;
}
